extends layout

block extraHeader
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/tomorrow.min.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js")

    script.
      hljs.initHighlightingOnLoad();

block content
  h1 #{title}
  body
    h2 Message
    p #{message}
    h2 Stack Trace
      <pre>#{stack}</pre>
    if sessionId != null
      h2 Session
      a(href=`./session/${sessionId}`) #{sessionId}
    if eventJson != null
      h2 Event
      | <pre><code class="json">#{eventJson}</code></pre>