extends layout

block content
  h1 Groups
    if isAllowed('groups', 'post')     
      div.pull-right
        form.form-horizontal(action='/groups/modify', method='POST')
          .form-group.floatLeft
            input(type='hidden', name='_csrf', value=_csrf)
            button.btn.btn-danger(type='submit' name='action' value='deleteAll')
              i.fa.fa-trash
              | Delete all  
  div
     table.table.table-striped
      thead
        tr
          th Student ID
          th Last Sign In
          th Total Sessions
      tbody
        for group in groups
          tr
            td
              a(href='/group/#{group.id}') #{group.id}          
            td #{group.lastSignIn}
            td #{group.totalSessions}