extends layout

block extraHeader
    meta(http-equiv="cache-control" content="private, no-cache, max-age=0, must-revalidate, no-store")
    link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css')
    link(rel='stylesheet', href='./css/group-editor.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js') 
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js') 
    script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore.js') 
    script(src='./js/group-editor.js') 

block content
    input.hide(id="refreshed" value="no")
    span.hide(id="csrf")
        | #{_csrf}
    h1 Group 
    div.pull-right
        button.btn.btn-primary(id="save-btn" style='margin-right: 5px;')
            | Save
        button.btn.btn-warning(id="clear-cache-btn" style='margin-right: 5px;')
            | Clear Cache
        button.btn.btn-info(id="duplicate-btn" style='margin-right: 5px;')
            | Duplicate
        if isAllowed('groups', 'delete')  
            button.btn.btn-danger(id="delete-btn" style='margin-right: 5px;')
                | Delete
        button.btn.btn-default(id="cancel-btn")
            | Cancel
    h3.hide(id="id")
        | #{group._id}
    h3(id="name" contenteditable="true" style="width:50%")     
        | #{group.name}
    div
        br
        input(type="checkbox", id="cacheDisabled" checked=(`${group.cacheDisabled}` == "true")) 
        span  Disable Cache
    div.table-editable(id="table" style='margin-top: 10px;')
        table.table
            thead
                tr
                th Tags         
                th Google Sheet Doc ID
                th
                th
                    span.table-add.fa.fa-plus
            tbody
                for repositoryLink in group.repositoryLinks
                    tr
                        td.hide #{repositoryLink.id} 
                        td(contenteditable="true") #{repositoryLink.tags}                                  
                        td(contenteditable="true") #{repositoryLink.googleSheetDocId}
                        td
                            span.view-link.fa.fa-external-link
                        td
                            span.table-remove.fa.fa-times
                tr.hide
                    td.hide
                        | new
                    td(contenteditable="true")
                        | tags
                    td(contenteditable="true")
                        | GoogleDocId
                    td
                        span.view-link.fa.fa-external-link
                    td
                        span.table-remove.fa.fa-times
