extends layout

block extraHeader
    link(rel='stylesheet', href='/css/status-indicators.css')
    script(src='/js/status-indicators.js') 

block content
  h2 Hints delivered to #{student.id}
  div
     table.table.table-striped
      thead
        tr
          th Concept Id
          th Score
          th Hint Level
          th Time
          th Trait
          th Criteria
          th Selected
          th Challenge Id
      tbody
        for hint in hintHistory
          tr
            td #{hint.conceptId}          
            td.scoreBackground #{Math.round(hint.score * 1000)/10}   
            td #{hint.hintLevel} 
            td #{moment(hint.timestamp).calendar()}  
            td #{hint.trait}            
            td #{hint.ruleCriteria}      
            td #{hint.ruleSelected}
            td #{hint.challengeId}       