extends layout

block content
  h1 Monitor

  div
     h2 Active Sessions  
     table.table.table-striped
      thead
        tr
          th Session ID
          th Student ID
          th Start Time
          th Total Events
      tbody
        for session in sessions
          tr
            td 
              a(href='/session/#{session.id}') #{session.id}          
            td #{session.studentId}
            td #{session.startTime}
            td #{session.events.length}