extends layout

block content
  h1 Sessions

  div
     h3 Active  
     table.table.table-striped
      thead
        tr
          th Session ID
          th Student ID
          th Start Time
          th Total Events
      tbody
        for session in activeSessions
          tr
            td 
              a(href='/session/#{session.id}') #{session.id}          
            td #{session.studentId}
            td #{new Date(session.startTime)}
          if session.events  
            td #{session.events.length}
          else
            td No events

  div
     h3 Inactive  
     table.table.table-striped
      thead
        tr
          th Session ID
          th Student ID
          th Start Time
          th Total Events
      tbody
        for session in inactiveSessions
          tr
            td 
              a(href='/session/#{session.id}') #{session.id}          
            td #{session.studentId}
            td #{new Date(session.startTime)}
            if session.events  
              td #{session.events.length}
            else
              td No events