extends layout

block content
  h1 Sessions
  if studentId
    h4 #{studentId}

  div
     h3 Active
      if isAllowed('sessions', 'post') && !studentId  
        div.pull-right
          form.form-horizontal(action='/sessions/modify', method='POST')
            .form-group.floatLeft
              input(type='hidden', name='_csrf', value=_csrf)
              button.btn.btn-primary(type='submit' name='action' value='downloadAll' style='margin-right: 5px;')
                i.fa.fa-download
                | Download all
              button.btn.btn-warning(type='submit' name='action' value='deactivateAll' style='margin-right: 5px;')
                i.fa.fa-hourglass-end
                | Deactivate all  
              button.btn.btn-danger(type='submit' name='action' value='deleteAll')
                i.fa.fa-trash
                | Delete all                
     table.table.table-striped
      thead
        tr
          th Session ID
          th Student ID
          th Group
          th Start Time
          th Total Events
      tbody
        for session in activeSessions
          tr
            td 
              a(href='/session/#{session.id}') #{session.id}          
            td #{session.studentId}
            td #{session.groupId}
            td #{moment(session.startTime).calendar()}
          if session.events  
            td #{session.events.length}
          else
            td No events

  div
     h3 Inactive  
     table.table.table-striped
      thead
        tr
          th Session ID
          th Student ID
          th Group
          th Start Time
          th Total Events
      tbody
        for session in inactiveSessions
          tr
            td 
              a(href='/session/#{session.id}') #{session.id}          
            td #{session.studentId}
            td #{session.groupId}
            td #{moment(session.startTime).calendar()}
            if session.events  
              td #{session.events.length}
            else
              td No events