extends layout

block content
  h1 Session 
  h3 #{session.id}

  .row
    .col-sm-6
      div
        h2 Events 
        table.table.table-striped
          thead
            tr
              th Event
              th Time
          tbody
            for event in session.events
              tr
                td 
                  a(href='/session/#{session.id}/event/#{session.events.indexOf(event)}') #{event.actor} #{event.action} #{event.target}          
                td #{event.time}
    .col-sm-6            
      div
        h2 Tutor Actions 
        table.table.table-striped
          thead
            tr
              th Type
              th Time
              th Messsage
          tbody
            for action in session.actions
              tr
                td 
                  a(href='/session/#{session.id}/action/#{session.actions.indexOf(action)}') #{action.type}          
                td #{action.time}
                td #{action.message.text}