extends layout

block extraHeader
    script(type='text/javascript', src="https://code.highcharts.com/highcharts.js")
    script(type='text/javascript', src="https://code.highcharts.com/modules/heatmap.js")
    script(type='text/javascript', src="https://code.highcharts.com/modules/exporting.js") 

block content
  h1 Student 
    if isAllowed('students', 'post')     
      div.pull-right
        form.form-horizontal(action='/student/reset', method='POST')
          .form-group.floatLeft
            input(type='hidden', name='_csrf', value=_csrf)
            input(type='hidden', name='studentId', value='#{student.id}')
            button.btn.btn-danger(type='submit' name='action' value='resetModel')
              i.fa.fa-trash
              | Reset Model 
  h3 #{student.id}
  h4
    a(href='/student/#{student.id}/hints') Hint History  
    a(href='/student/#{student.id}?view=json') JSON  
  div#container(style="min-width: 500px; height: 500px; margin: 0 auto")
    script.
        $(function() {
            var myChart = null;   
            
            function updateChart() {
                $.getJSON("/api/student/#{student.id}?view=concept-heatmap", function(options) {
                    if (myChart != null) {
                        myChart.destroy();
                    }       
                    options.tooltip.formatter = function () {
                        var details = options.tooltip.conceptScoreDetails[this.point.x + "," + this.y];
                            return 'Correct: <b>' + details.correct + '</b><br>'
                                    + 'Total Attempts: <b>' + details.total + '</b>';
                        };
                    myChart = Highcharts.chart('container', options);
                });
            }
            updateChart();
        });
  div
    table.table.table-striped
        thead
            tr
            th Id          
            th Description
        tbody
            for concept in concepts
                tr
                    td #{concept.Id}                                  
                    td #{concept.Description}