extends layout

block extraHeader
    link(rel='stylesheet', href='/css/status-indicators.css')
    script(src='/js/status-indicators.js') 

block content
  h1 Students
    if isAllowed('students', 'post')     
      div.pull-right
        form.form-horizontal(action='/students/modify', method='POST')
          .form-group.floatLeft
            input(type='hidden', name='_csrf', value=_csrf)
            button.btn.btn-danger(type='submit' name='action' value='deleteAll')
              i.fa.fa-trash
              | Delete all  
  div
     table.table.table-striped
      thead
        tr
          th Student ID
          th Average Score
          th Total Hints
          th Total Sessions
          th Last Sign In
      tbody
        for student in students
          tr
            td
              a(href='/student/#{student.id}') #{student.id}          
            td.scoreBox #{Math.round(student.averageScaledScore() * 1000)/10}
            td(align="center") #{student.hintHistory.length}
            td(align="center") #{student.totalSessions}
            td #{moment(student.lastSignIn).calendar()}